<!DOCTYPE html>
<html ng-app="bibframeEditor">
  <head>
    <meta charset="utf-8">
    <title>BIBFRAME Scribe</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/editor.css" rel="stylesheet">
    <link href="css/dropzone-basic.css" rel="stylesheet">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.13.4-SNAPSHOT.min.js"></script>
    <script src="js/lib/http-throttler.js"></script>
    <script src="js/lib/dropzone.min.js"></script>
    <script>Dropzone.autoDiscover = false;</script>
    <script src="js/lib/rdf_store_min.js"></script>
    <script src="js/factories/pred-object.js"></script>
    <script src="js/factories/value-constraint.js"></script>
    <script src="js/factories/property.js"></script>
    <script src="js/factories/property-template.js"></script>
    <script src="js/factories/resource-template.js"></script>
    <script src="js/factories/resource.js"></script>
    <script src="js/factories/profile.js"></script>

    <script src="js/services/namespace.js"></script>
    <script src="js/services/configuration-load.js"></script>
    <script src="js/services/profile-load.js"></script>
    <script src="js/services/schema-load.js"></script>
    <script src="js/services/message.js"></script>
    <script src="js/services/resource-store.js"></script>
    <script src="js/services/template-store.js"></script>
    <script src="js/services/query.js"></script>
    <script src="js/services/resolver.js"></script>
    <script src="js/services/graph.js"></script>
    <script src="js/services/store.js"></script>
    <script src="js/services/identifiers.js"></script>
    <script src="js/services/progress.js"></script>
    <script src="js/services/configuration.js"></script>
    <script src="js/initializer.js"></script>
    <script src="js/directives/dropzone.js"></script>
    <script src="js/directives/scribe-enter.js"></script>
    <script src="js/directives/scribe-popover.js"></script>
    <script src="js/controllers/show-resource.js"></script>
    <script src="js/controllers/export.js"></script>
    <script src="js/controllers/edit-literal.js"></script>
    <script src="js/controllers/sub-resource.js"></script>
    <script src="js/controllers/editor.js"></script>

    <link rel="shortcut icon" href="http://zepheira.com/favicon.ico">
  </head>
  <body ng-controller="EditorController">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="application-logo"></span>BIBFRAME Scribe</a>
      </div>

      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#"><i class="icon-home"></i> Eric</a></li>
        <li><a href="./activity.html">Activity <span class="badge badge-info">3</span></a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Logout-login</a></li>
        <li>
       <!--  <button onclick="ISBNclick()">Click for Call</button> -->
        </li>
      </ul>
    </nav>

    <div class="container editor">
      <div id="messages">
        <alert
             ng-repeat="msg in messages()"
             type="{{msg.severity}}"
             close="closeMsg($index)"
             dismiss-on-timeout="15000">
             <div ng-bind-html="msg.message"></div>
        </alert>
      </div>

      <div class="row">
        <tabset vertical="true" type="tabs" class="col-md-10">
          <tab disable="true">
            <tab-heading ng-show="!activeTemplate()"></tab-heading>
            <div class="jumbotron" ng-show="initialized()">
              <h2>Hi.</h2>
              <p>Click an instance on the left to begin cataloging that type, or click 'Search' to look for existing material.</p>
              <br><br>
            </div>
            <div class="jumbotron" ng-show="!initialized()">
              <h2>Hey! Listen!</h2>
              <p>Before you get to your cataloging, we'll need to load up some profiles for you. Hang in there.</p>
              <progressbar value="progress()" class="active progress-striped"></progressbar>
            </div>
          </tab>
          <tab disable="!current().isEmpty()">
            <tab-heading>Search</tab-heading>
            <div class="jumbotron search">
            <!-- search for ISBN -->
           <h2>Catalouge New Item</h2>
              <p>Search for Existing Work by ISBN</p>
              <form class="form-horizontal">
                <div>
                  <span class="col-md-11">
                    <input type="text"
                         class="form-control"
                         placeholder="Type to search"
                         ng-model="inputted['search']"
                         ng-class="{ 'typeahead-no-matches': results['search'] }"
                         typeahead="option.label for option in search($viewValue,'ISBN')"
                         typeahead-wait-ms="1000"
                         typeahead-on-select="editFromGraph($item.uri);inputted['search']=''"
                         typeahead-min-length="1"
                         typeahead-no-results="results['search']"
                         typeahead-editable="false"
                         typeahead-loading="searchLoading"
                         typeahead-template-url="typeahead-match.html"
                         id="search">
                  </span>
                  <span class="col-md-1" ng-show="searchLoading">
                    <img src="img/spinner.gif">
                  </span>
                </div>
                  <br><br><br><br><br>
                        <!-- search local  -->
              <h2>Search(Edit Local Instance)</h2>
              <p>Find local material by title or label; select for editing.</p>
                <div>
                  <span class="col-md-11">
                    <input type="text"
                         class="form-control"
                         placeholder="Type to search"
                         ng-model="inputted['search']"
                         ng-class="{ 'typeahead-no-matches': results['search'] }"
                         typeahead="option.label for option in search($viewValue,'LOCAL')"
                         typeahead-wait-ms="1000"
                         typeahead-on-select="editFromGraph($item.uri);inputted['search']=''"
                         typeahead-min-length="1"
                         typeahead-no-results="results['search']"
                         typeahead-editable="false"
                         typeahead-loading="searchLoading"
                         typeahead-template-url="typeahead-match.html"
                         id="search">
                  </span>
                  <span class="col-md-1" ng-show="searchLoading">
                    <img src="img/spinner.gif">
                  </span>
                </div>
              </form>
            
            </div>
          </tab>
          <tab ng-repeat="resource in resourceOptions() | orderBy:'sortKey'" select="newEdit(resource)" disable="!current().isEmpty()" active="tabs.active[resource.id]">
            <tab-heading><span ng-show="resource.child"><i class="icon-chevron-right"></i> </span>{{resource.label}}</tab-heading>
            <div ng-if="activeTemplate()&&activeTemplate().getID()==resource.id" ng-show="activeTemplate()&&activeTemplate().getID()==resource.id" ng-include="'resource.html'"></div>
          </tab>
        </tabset>
        
        <div class="col-md-2 text-muted">
          <h4 tooltip="Disable an external service if you're not interested in seeing its results come up in a typeahead search."
              tooltip-placement="top">External Services</h4>
          <form class="form-horizontal">
            <div ng-repeat="(provider, pnames) in config.getSearchServices()">
              <input type="checkbox"
                     id="services-{{provider}}"
                     ng-model="useServices[provider]"
                     ng-init="useServices[provider]=true">
              <label for="services-{{provider}}"
                     title="{{pnames.full}}">
                <small>{{pnames.short}}</small>
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/ng-template" id="edit-literal.html">
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="save()">
          <label class="property-label control-label col-md-2" for="literal">{{property}}</label>
          <span ng-if="!prop.hasConstraint()||(prop.hasConstraint()&&prop.getConstraint().isEditable())">
            <span ng-switch="" on="prop.getType()">
              <span ng-switch-when="resource">
                <span ng-include="'advanced.html'"></span>
              </span>
              <span ng-switch-default>
                <span ng-include="'basic.html'"></span>
              </span>
            </span>
          </span>
          <span ng-if="prop.hasConstraint()&&!prop.getConstraint().isEditable()">
            <span ng-include="'ineditable.html'"></span>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="export.html">
      <div class="modal-header">
        <h2>It's Dangerous To Go Alone! Take This.</h2>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn btn-default" ng-click="close()">Close</button></p>
      </div>
    </script>

    <script type="text/ng-template" id="pivot.html">
      <div class="modal-header">
        <h3>New {{resource.label}}</h3>
      </div>
      <div class="modal-body" ng-include="'resource.html'">
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </script>

    <script type="text/ng-template" id="ineditable.html">
      <span class="text-muted" title="This value was set by the profile designer and cannot be modified">Profile default value</span>
      <ul class="values">
        <li class="badge badge-info">
          <span ng-if="prop.getConstraint().hasDefaultLiteral()">
            <span ng-if="prop.getConstraint().hasDefaultURI()">
              <span title="{{prop.getConstraint().getDefaultURI()}}">{{prop.getConstraint().getDefaultLiteral()}}</span>
            </span>
            <span ng-if="!prop.getConstraint().hasDefaultURI()">
              {{prop.getConstraint().getDefaultLiteral()}}
            </span>
          </span>
          <span ng-if="!prop.getConstraint().hasDefaultLiteral()&&prop.getConstraint.hasDefaultURI()">
            {{prop.getConstraint().getDefaultURI()}}
          </span>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="basic.html">
      <span ng-if="prop.getConstraint().hasComplexType()">
        <span ng-switch="" on="dataTypes(prop.getConstraint().getComplexTypeID())">
          <span ng-switch-when="date" class="input-group">
            <span class="input-group-addon"><i class="icon-calendar"></i></span>
            <input type="text"
                   class="form-control"
                   id="{{prop.generateFormID()}}"
                   datepicker-popup="yyyy-MM-dd"
                   datepicker-options="{'show-weeks': false}"
                   show-button-bar="false"
                   is-open="opened"
                   ng-focus="opened=true"
                   ng-class="{'ng-invalid': invalid[prop.generateFormID()]}"
                   ng-model="inputted[prop.generateFormID()]"
                   scribe-enter="setValueFromInput(prop, inputted)"
                   ng-disabled="!editExisting&&!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0">
            <span class="input-group-btn">
              <button
                 ng-show="!editExisting&&prop.isRepeatable()"
                 class="btn btn-default"
                 type="button"
                 ng-disabled="!inputted[prop.generateFormID()]"
                 ng-click="setValueFromInput(prop, inputted)">Add</button>
              <button
                 ng-show="!editExisting&&!prop.isRepeatable()"
                 class="btn btn-default"
                 type="button"
                 ng-disabled="!inputted[prop.generateFormID()]"
                 ng-click="setValueFromInput(prop, inputted)">Set</button>
            </span>
          </span>
          <span ng-switch-default class="input-group">
            <span class="input-group-addon" ng-show="prop.getConstraint().hasHint()">{{prop.getConstraint().getComplexTypeLabelHint()}}</span>
            <input
               type="text"
               class="form-control"
               ng-class="{'ng-invalid': invalid[prop.generateFormID()]}"
               id="{{prop.generateFormID()}}"
               ng-model="inputted[prop.generateFormID()]"
               scribe-enter="setValueFromInput(prop, inputted)"
               ng-disabled="!editExisting&&!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0">
            <span class="input-group-btn">
              <button
                 ng-show="!editExisting&&prop.isRepeatable()"
                 class="btn btn-default"
                 type="button"
                 ng-disabled="!inputted[prop.generateFormID()]"
                 ng-click="setValueFromInput(prop, inputted)">Add</button>
              <button
                 ng-show="!editExisting&&!prop.isRepeatable()"
                 class="btn btn-default"
                 type="button"
                 ng-disabled="!inputted[prop.generateFormID()]"
                 ng-click="setValueFromInput(prop, inputted)">Set</button>
            </span>
          </span>
        </span>
      </span>
      <span ng-if="!prop.getConstraint().hasComplexType()" class="input-group">
        <input
           type="text"
           class="form-control"
           ng-class="{'ng-invalid': invalid[prop.generateFormID()]}"
           id="{{prop.generateFormID()}}"
           ng-model="inputted[prop.generateFormID()]"
           scribe-enter="setValueFromInput(prop, inputted)"
           ng-disabled="!editExisting&&!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0">
        <span class="input-group-btn">
          <button
             ng-show="!editExisting&&prop.isRepeatable()"
             class="btn btn-default"
             type="button"
             ng-disabled="!inputted[prop.generateFormID()]"
             ng-click="setValueFromInput(prop, inputted)">Add</button>
          <button
             ng-show="!editExisting&&!prop.isRepeatable()"
             class="btn btn-default"
             type="button"
             ng-disabled="!inputted[prop.generateFormID()]"
             ng-click="setValueFromInput(prop, inputted)">Set</button>
        </span>
      </span>
    </script>

    <script type="text/ng-template" id="advanced.html">
      <span ng-if="!prop.getConstraint().hasReference()" class="input-group">
        <span class="input-group-addon">URL</span>
        <input type="text"
               class="form-control"
               ng-class="{'ng-invalid': invalid[prop.generateFormID()]}"
               id="{{prop.generateFormID()}}"
               ng-model="inputted[prop.generateFormID()]"
               scribe-enter="setValueFromInput(prop, inputted)"
               ng-disabled="!editExisting&&!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0">
        <span class="input-group-btn">
          <button
             ng-show="!editExisting&&prop.isRepeatable()"
             class="btn btn-default"
             type="button"
             ng-disabled="!inputted[prop.generateFormID()]"
             ng-click="setValueFromInput(prop, inputted)">Add</button>
          <button
             ng-show="!editExisting&&!prop.isRepeatable()"
             class="btn btn-default"
             type="button"
             ng-disabled="!inputted[prop.generateFormID()]"
             ng-click="setValueFromInput(prop, inputted)">Set</button>
        </span>
      </span>

      <span ng-if="prop.getConstraint().hasReference()">
        <span ng-if="getReferenceResourceType(prop.getConstraint().getReference())=='dropzone'">
          <div
             dropzone
             class="dropzone"
             dz-property="{{prop.getProperty().getID()}}"
             dz-repeatable="{{prop.isRepeatable()}}"
             dz-resource="{{resource.uri}}"
             dz-type="{{getTemplateByID(prop.getConstraint().getReference()).getClassID()}}"></div>
        </span>
        <span class="input-group" ng-if="getReferenceResourceType(prop.getConstraint().getReference())!='dropzone'">
          <input type="text"
               class="form-control typeahead"
               placeholder="Type to search"
               ng-model="inputted[prop.generateFormID()]"
               ng-class="{ 'typeahead-no-matches': results[prop.generateFormID()], 'really-invalid': invalid[prop.generateFormID()] == true }"
               ng-required="false"
               ng-disabled="!editExisting&&!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0"
               typeahead="option.label for option in autocomplete(prop,$viewValue)"
               typeahead-wait-ms="1000"
               typeahead-no-results="results[prop.generateFormID()]"
               typeahead-on-select="selectValue(prop,$item);inputted[prop.generateFormID()]=null"
               typeahead-min-length="1"
               typeahead-editable="false"
               typeahead-loading="current().isLoading(prop.generateFormID())"
               typeahead-template-url="typeahead-match.html"
               id="{{prop.generateFormID()}}">
          <span ng-if="!editExisting&&!prop.getConstraint().hasManyReferences()" class="input-group-btn">
            <button class="btn btn-default"
                type="button"
                tooltip="Click to create a new resource"
                tooltip-placement="right"
                ng-disabled="!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0"
                ng-click="pivot(prop,prop.getConstraint().getReference())"><i class="icon-plus"></i></button>
            <!-- @@@ pivot(... inputted[prop.generateFormID()]) -->
          </span>
          <span ng-if="!editExisting&&prop.getConstraint().hasManyReferences()" class="dropdown input-group-btn" dropdown>
            <button
               class="btn btn-default dropdown-toggle"
               dropdown-toggle
               ng-disabled="!prop.isRepeatable()&&current().getPropertyValues(prop)!=null&&current().getPropertyValues(prop).length>0"
               aria-haspopup="true"
               aria-expanded="false"
               type="button"
               tooltip="Select resource to create"
               tooltip-placement="right">
              <i class="icon-plus"></i><b class="caret"></b>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="ref in prop.getConstraint().getReference()">
                <a ng-click="pivot(prop,ref)" class="click">{{getTemplateByID(ref).getLabel()}}</a>
                <!-- @@@ pivot(... inputted[prop.generateFormID()]) to pass already typed material into new resource, when appropriate label vocab is set -->
              </li>
            </ul>
          </span>
        </span>
      </span>
    </script>

    <script type="text/ng-template" id="resource.html">
      <form class="form-horizontal well" ng-submit="submit()" name="form-resource">
        <p ng-show="current().hasRequired()">Properties marked with <span class="required">*</span> are required.</p>
        <div ng-repeat="prop in getTemplateByID(resource.id).getPropertyTemplates()">
          <p class="form-group">
            <label for="{{prop.generateFormID()}}" class="property-label control-label col-md-3">{{prop.getProperty().getLabel()}}<span ng-show="prop.isRequired()" class="required">*</span></label>
            <span class="col-md-8" ng-if="!prop.hasConstraint()||(prop.hasConstraint()&&prop.getConstraint().isEditable())">
              <span ng-switch="" on="prop.getType()">
                <span ng-switch-when="resource">
                  <span ng-include="'advanced.html'"></span>
                </span>
                <span ng-switch-default>
                  <span ng-include="'basic.html'"></span>
                </span>
              </span>
            </span>
            <span ng-if="prop.hasConstraint()&&!prop.getConstraint().isEditable()">
              <span ng-include="'ineditable.html'"></span>
            </span>
            <span class="col-md-1" ng-show="current().isLoading(prop.generateFormID())"><img src="img/spinner.gif"></span>
          </p>
          <ul class="values" ng-hide="(prop.hasConstraint()&&!prop.getConstraint().isEditable())||getReferenceResourceType(prop.getConstraint().getReference())=='dropzone'">
            <li ng-repeat="val in current().getPropertyValues(prop)" class="badge badge-info">
              <span ng-show="prop.isLiteral()||(!prop.isLiteral()&&!prop.hasConstraint())" class="click" ng-click="editLiteral(prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&val.isCreated()" class="click" ng-click="editResource(prop,val)" title="Edit"><i class="icon-edit"></i> {{val.getLabel()}}</span>
              <span ng-show="!prop.isLiteral()&&prop.hasConstraint()&&!val.isCreated()" class="click" ng-click="showResource(val)" title="View details"><i class="icon-info-sign"></i> {{val.getLabel()}}</span>
              <i title="Remove" class="icon-remove click" ng-click="current().removePropertyValue(prop,val)"></i>
            </li>
          </ul>
        </div>
        <div ng-if="!editExisting&&!pivoting">
          <button class="btn btn-default" type="button" ng-click="reset(this, 'form-resource')">Clear</button>
          <button class="btn btn-primary btn-lg" type="button" ng-click="submit()" ng-disabled="current().isEmpty()">Save</button>
          <button class="btn btn-primary btn-lg" type="button" ng-click="display()" ng-disabled="current().isEmpty()">Export</button>
        </div>
      </form>
    </script>

    <!-- explicitly called in typeahead -->
    <script type="text/ng-template" id="typeahead-match.html">
      <a tabindex="-1"
         scribe-popover
         scribe-popover-resource="{{match.model.uri}}"
         scribe-popover-delay="1500"
         scribe-popover-trigger="mouseenter"
         scribe-popover-cancel="mouseleave"
         title="{{match.model.fullLabel}}">
        <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
        <small class="text-muted match-source" ng-bind-html="match.model.source | uppercase | unsafe"></small>
      </a>
    </script>

    <!-- forked typeahead template -->
    <script type="text/ng-template" id="template/typeahead/typeahead-popup.html">
      <ul class="typeahead dropdown-menu" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
        <li class="match-info"><span class="text-muted">Not the right match? Use the <i class="icon-plus"></i> button to create a new resource</span></li>
        <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
          <typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></typeahead-match>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="show-resource.html">
      <div class="modal-header">
        <h2>{{label}}</h2>
        <code>&lt;{{uri}}&gt;</code>
      </div>
      <div class="modal-body">
        <p><textarea rows="10" readonly>{{rdf}}</textarea></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn btn-default" ng-click="close()">Close</button></p>
      </div>      
    </script>

    <script type="text/ng-template" id="show-warning.html">
      <div class="modal-body">
        <p ng-bind-html="warnings.message | unsafe"></p>
      </div>
      <div class="modal-footer">
        <p class="text-center"><button class="btn btn-default" ng-click="$close()">Close</button></p>
      </div>      
    </script>

  </body>
</html>
